[submodule "liminal"]
	path = liminal
	url = git@github.com:harrysolovay/liminal.git
[submodule "repos/effect"]
	path = repos/effect
	url = git@github.com:Effect-TS/effect-smol.git
[submodule "repos/router"]
	path = repos/router
	url = git@github.com:TanStack/router.git
[submodule "repos/workers-sdk"]
	path = repos/workers-sdk
	url = git@github.com:cloudflare/workers-sdk.git
[submodule "repos/agents"]
	path = repos/agents
	url = git@github.com:cloudflare/agents.git
[submodule "repos/cloudflared"]
	path = repos/cloudflared
	url = git@github.com:cloudflare/cloudflared.git
[submodule "repos/oxc"]
	path = repos/oxc
	url = git@github.com:oxc-project/oxc.git
[submodule "repos/x402"]
	path = repos/x402
	url = git@github.com:x402-foundation/x402.git
[submodule "repos/vite"]
	path = repos/vite
	url = git@github.com:vitejs/vite.git
[submodule "konfik"]
	path = konfik
	url = git@github.com:crosshatch/konfik.git
[submodule "repos/accounts"]
	path = repos/accounts
	url = git@github.com:tempoxyz/accounts.git
[submodule "repos/viem"]
	path = repos/viem
	url = git@github.com:wevm/viem.git
[submodule "repos/abitype"]
	path = repos/abitype
	url = git@github.com:wevm/abitype.git
[submodule "repos/mppx"]
	path = repos/mppx
	url = git@github.com:wevm/mppx.git
[submodule "repos/workerd"]
	path = repos/workerd
	url = git@github.com:cloudflare/workerd.git
[submodule "repos/capnweb"]
	path = repos/capnweb
	url = git@github.com:cloudflare/capnweb.git
[submodule "repos/partykit"]
	path = repos/partykit
	url = git@github.com:cloudflare/partykit.git
[submodule "repos/ox"]
	path = repos/ox
	url = git@github.com:wevm/ox.git
[submodule "repos/CAIPs"]
	path = repos/CAIPs
	url = git@github.com:ChainAgnostic/CAIPs.git
[submodule "repos/namespaces"]
	path = repos/namespaces
	url = git@github.com:ChainAgnostic/namespaces.git
[submodule "repos/vitest"]
	path = repos/vitest
	url = git@github.com:vitest-dev/vitest.git
[submodule "repos/alchemy-effect"]
	path = repos/alchemy-effect
	url = git@github.com:alchemy-run/alchemy-effect.git
