[submodule "liminal"]
	path = liminal
	url = git@github.com:harrysolovay/liminal.git
[submodule "repos/Effect-TS/effect-smol"]
	path = repos/Effect-TS/effect-smol
	url = git@github.com:Effect-TS/effect-smol.git
[submodule "repos/TanStack/router"]
	path = repos/TanStack/router
	url = git@github.com:TanStack/router.git
[submodule "repos/cloudflare/workers-sdk"]
	path = repos/cloudflare/workers-sdk
	url = git@github.com:cloudflare/workers-sdk.git
[submodule "repos/cloudflare/agents"]
	path = repos/cloudflare/agents
	url = git@github.com:cloudflare/agents.git
[submodule "repos/cloudflare/cloudflared"]
	path = repos/cloudflare/cloudflared
	url = git@github.com:cloudflare/cloudflared.git
[submodule "repos/oxc-project/oxc"]
	path = repos/oxc-project/oxc
	url = git@github.com:oxc-project/oxc.git
[submodule "repos/x402-foundation/x402"]
	path = repos/x402-foundation/x402
	url = git@github.com:x402-foundation/x402.git
[submodule "repos/vitejs/vite"]
	path = repos/vitejs/vite
	url = git@github.com:vitejs/vite.git
[submodule "konfik"]
	path = konfik
	url = git@github.com:crosshatch/konfik.git
[submodule "repos/tempoxyz/accounts"]
	path = repos/tempoxyz/accounts
	url = git@github.com:tempoxyz/accounts.git
[submodule "repos/wevm/viem"]
	path = repos/wevm/viem
	url = git@github.com:wevm/viem.git
[submodule "repos/wevm/abitype"]
	path = repos/wevm/abitype
	url = git@github.com:wevm/abitype.git
[submodule "repos/wevm/mppx"]
	path = repos/wevm/mppx
	url = git@github.com:wevm/mppx.git
[submodule "repos/cloudflare/workerd"]
	path = repos/cloudflare/workerd
	url = git@github.com:cloudflare/workerd.git
[submodule "repos/cloudflare/capnweb"]
	path = repos/cloudflare/capnweb
	url = git@github.com:cloudflare/capnweb.git
[submodule "repos/cloudflare/partykit"]
	path = repos/cloudflare/partykit
	url = git@github.com:cloudflare/partykit.git
[submodule "repos/wevm/ox"]
	path = repos/wevm/ox
	url = git@github.com:wevm/ox.git
[submodule "repos/ChainAgnostic/CAIPs"]
	path = repos/ChainAgnostic/CAIPs
	url = git@github.com:ChainAgnostic/CAIPs.git
[submodule "repos/vitest-dev/vitest"]
	path = repos/vitest-dev/vitest
	url = git@github.com:vitest-dev/vitest.git
[submodule "repos/alchemy-run/alchemy-effect"]
	path = repos/alchemy-run/alchemy-effect
	url = git@github.com:alchemy-run/alchemy-effect.git
[submodule "repos/wevm/vocs"]
	path = repos/wevm/vocs
	url = git@github.com:wevm/vocs.git
[submodule "repos/tempoxyz/docs"]
	path = repos/tempoxyz/docs
	url = git@github.com:tempoxyz/docs.git
[submodule "repos/changesets/changesets"]
	path = repos/changesets/changesets
	url = git@github.com:changesets/changesets.git
[submodule "repos/ChainAgnostic/namespaces"]
	path = repos/ChainAgnostic/namespaces
	url = git@github.com:ChainAgnostic/namespaces.git
