@import "liminal-util/vocs.css";

[data-v-logo-text]::before {
  content: "";
  width: 1.25rem;
  height: 1.25rem;
  flex: 0 0 auto;
  background-image: url("https://crosshatch.dev/favicon.ico");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
